* {
    font-family: var(--ff-primary);
    font-size: 20px;
}

.agenda-home-header {
    height: 75vh;
    color: var(--white-color);
}

img[alt='Signature'] {
    position: relative;
    left: 30px;
    top: 5px;
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.agenda-background-image {
    background-image: url(../../images/Agenda/home-page-agenda.avif);
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 75%;
    position: fixed;
    z-index: -2;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 40px;
    list-style: none;
}

h2 {
    color: var(--tuscan-color);
    font-weight: bold;
}

.upcoming-container {
    display: flex;
    flex-direction: column;
}

.list-element {
    display: flex;
    align-items: center;
    padding: 10px 0;
    text-align: center;
}

.date-and-place {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-evenly;
}

li>div>p {
    color: var(--tuscan-color);
    font-weight: bold;
}

li>p {
    color: var(--midnight-color);
    font-weight: bold;
}

span {
    font-weight: normal;
}

.upcoming-container>button,
.upcoming-container>h2 {
    align-self: center;
}

.upcoming-container>h2 {
    padding: 55px 0;
}

.upcoming-container>button {
    margin-top: 1.5%;
    margin-bottom: 2.5%;
}

.list-element>p {
    flex-grow: 0.72;
}

.home-footer {
    background-color: rgba(33, 49, 65, 255);
    width: 100%;
    height: 110px;
}

.home-footer>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5%;
}

.home-footer>div>img {
    padding-left: 2%;
}

.home-footer>p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--nickel-color);
}

.footer-icons {
    display: flex;
    align-items: center;
    padding-right: 3%;
    gap: 5px;
}

main {
    padding-bottom: 2%;
    background-color: white;
}

a>img:hover,
.nav-li:hover {
    background-color: var(--curry-color);
    border-radius: 5px;
    cursor: pointer;
}

.nav-li {
    padding: 3px;
}