* {
    font-family: var(--ff-primary);
    font-size: 20px;
}

.agenda-home-header {
    height: 75vh;
    color: var(--white-color);
}

img[alt='Signature'] {
    position: relative;
    left: 30px;
    top: 5px;
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.agenda-background-image {
    background-image: url(../../images/Agenda/home-page-agenda.avif);
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 75%;
    position: fixed;
    z-index: -2;
}

.agenda-navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 40px;
    list-style: none;
}

.agenda-icons {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 4%;
    gap: 5px;
    margin-top: 30%;
}

h2 {
    color: var(--tuscan-color);
    font-weight: bold;
    font-size: 25px;
}

.upcoming-container {
    display: flex;
    flex-direction: column;
}

.schedule {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    gap: 2%;
}

.schedule-button {
    min-width: 4%;
    height: 100%;
    background-color: transparent;
    color: var(--black-color);
    cursor: pointer;
    padding: 0.4%;
}

.schedule-button:hover {
    background-color: var(--curry-color);
    color: var(--white-color);
    transition: background-color 0.2s linear;
}

.schedule-button:active {
    border: 0;
    color: var(--black-color);
}

.selected {
    background-color: var(--curry-color);
    color: var(--white-color);
}

.upcoming-container>h2 {
    align-self: center;
}

.upcoming-container>h2 {
    padding: 3.3% 0;
}


.home-footer {
    background-color: rgba(33, 49, 65, 255);
    width: 100%;
    height: 110px;
}

.home-footer>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5%;
}

.home-footer>div>img {
    padding-left: 2%;
}

.home-footer>p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--nickel-color);
}

.footer-icons {
    display: flex;
    align-items: center;
    padding-right: 3%;
    gap: 5px;
}

main {
    padding-bottom: 2%;
    background-color: white;
}

a>img:hover,
.nav-li:hover {
    background-color: var(--curry-color);
    border-radius: 5px;
    cursor: pointer;
}

.nav-li {
    padding: 3px;
}

button.button-nav-mobile,
.footer-slide,
.icons-mobile,
button.nav-toggle {
    display: none;
}

.line {
    display: block;
    width: 50%;
    height: 2px;
    background-color: var(--white-color);
    margin-bottom: 7px;
}

@media only screen and (max-width: 480px) {

    .agenda-icons {
        display: none;
        position: absolute;
    }

    .agenda-navigation {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        /* Initially hide the menu off-screen */
        min-width: 80%;
        min-height: 100%;
        background-color: var(--midnight-color);
        transition: right 0.4s ease;
        z-index: 20;
        padding-right: 0;
    }

    .agenda-navigation.active {
        display: flex;
        right: 0;
        z-index: 20;
        min-width: 80%;
        min-height: 100%;
        position: fixed;

        .line {
            width: 100%;
        }
    }

    .footer-slide {
        display: block;
        left: -100%;
        transition: left 0.4s ease;
        z-index: 22;
        position: absolute;
        top: 91%;
        font-size: 15px;
    }

    .footer-slide.active {
        left: 43%;
        transition: left 0.4s ease;
        z-index: 22;
        position: fixed;
    }

    div.home-header>.signature-mob-slide {
        display: block;
        position: absolute;
        top: 3%;
        left: -100%;
        transition: left 0.4s ease;
        z-index: 21;
    }

    div.home-header>.signature-mob-slide.active {
        display: block;
        transition: left 0.4s ease;
        left: 28%;
        z-index: 21;
        position: fixed;
    }

    .icons-mobile.active {
        left: 50%;
        transition: left 0.4s ease;
        position: fixed;
    }

    button.nav-toggle {
        display: block;
        min-width: 25px;
        height: 25px;
        background-color: transparent;
        position: absolute;
        top: 3%;
        right: 0;
        left: 90%;
        /* Show the menu toggle button */
    }

    .nav-li {
        padding: 10px;
        margin-bottom: 15%;
    }

    .mobile-li {
        margin-top: 35%;
        padding-right: 50%;
    }

    button.button-nav-mobile {
        display: block;
        min-width: 25px;
        height: 25px;
        background-color: transparent;
        margin-top: 5%;
        margin-left: 85%;
    }

    .icons-mobile {
        display: flex !important;
        align-items: center;
        position: absolute;
        top: 85%;
        padding: 0;
        z-index: 20;
        gap: 30%;
        left: -100%;
        transition: left 0.4s ease;
    }

    .agenda-home-header {
        height: 40vh;
        color: var(--white-color);
    }

    .home-header {
        padding: 0;
        height: 2%;
    }

    .agenda-background-image {
        background-repeat: no-repeat;
        width: 100%;
        min-height: 100%;
        position: relative;
    }

    div.upcoming-container>h2 {
        font-size: 20px;
        padding: 9% 0;
    }

    .schedule {
        padding-bottom: 5%;
        gap: 3%;
    }

    .schedule-button,
    .schedule-button>a {
        font-size: 16px;
    }

    .home-footer>p {
        font-size: 13px;
    }

    .home-footer>div>img {
        padding-left: 0;
    }

    .home-footer>div {
        padding-top: 8%;
        padding-right: 5%;
        padding-bottom: 3%;
    }

}

@media only screen and (max-width: 400px) {
    .list-element>p {
        font-size: 16px;
    }

    .date-and-place>p {
        font-size: 16px;
    }
}