* {
    font-family: var(--ff-primary);
    font-size: 20px;
}

.main-home-header {
    height: 86vh;
    color: var(--white-color);
}

.signature-mob {
    position: relative;
    left: 30px;
    top: 5px;
    font-family: "Great Vibes", cursive;
    font-size: 33px;
    color: var(--white-color);
}

.signature-mob-footer {
    position: relative;
    left: 4%;
    top: 5px;
    font-family: "Great Vibes", cursive;
    font-size: 33px;
    color: var(--white-color);
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 40px;
    list-style: none;
}

.home-background-image {
    background-image: url(../../images/Gallery/odrazana.jpeg);
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 86%;
    position: fixed;
    z-index: -2;
}

.info-wrapper {
    display: flex;
    justify-content: end;
    position: relative;
    padding-top: 13%;
    padding-right: 6%;
    animation-name: slideFromLeft;
    animation-duration: 3.5s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    transform: translateX(-100%);
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 350px;
    max-width: 600px;
}

.info-container>p {
    text-align: justify;
    word-spacing: 4px;
    line-height: 26px;
}

.info-container>a>button {
    position: relative;
    left: 50%;
    top: 4%;
}

.icons {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 3%;
    gap: 10px;
    padding-top: 70px;
    font-size: 25px;
}

.icons>a:hover,
.nav-li:hover {
    background-color: var(--curry-color);
    border-radius: 5px;
    cursor: pointer;
}

.icons>a {
    padding: 0.4%;
}

.nav-li {
    padding: 3px;
}

/* .current {
    background-color: var(--curry-color);
    border-radius: 5px;
} */

li>div>img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    font-size: var(--title-size);
}

h2 {
    color: var(--tuscan-color);
    font-weight: bold;
    font-size: 25px;
}

.upcoming-container {
    display: flex;
    flex-direction: column;
}

.list-element {
    display: flex;
    align-items: center;
    padding: 10px 0;
    text-align: center;
    justify-content: space-between;
    margin-right: 5%;
}

.schedule-button {
    min-width: 5%;
    height: 100%;
    border: none;
    border-radius: 5px;
    background-color: var(--curry-color);
    color: var(--white-color);
    cursor: pointer;
}

.schedule-button:hover,
.schedule-button>a:hover {
    color: var(--black-color);
}

.date-and-place {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

li>div>p {
    color: var(--tuscan-color);
    font-weight: bold;
}

span {
    font-weight: normal;
}

.upcoming-container>a,
.upcoming-container>h2 {
    align-self: center;
}

.upcoming-container>h2 {
    padding: 55px 0;
}

.upcoming-container>a {
    margin-top: 1.5%;
    margin-bottom: 2.5%;
}

.list-element>p {
    flex-grow: 0.72;
}

.quote-home {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding: 5% 0 3% 0;
    background-color: rgba(33, 49, 65, 255);
    color: var(--white-color);
}

.quote-home>p {
    width: 80%;
    align-self: center;
    color: var(--white-color);
}

.quote-home>footer {
    align-self: flex-end;
    margin-top: 1.5%;
    margin-right: 20%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section>h2 {
    padding: 3% 0 2% 0;
}

.iframe-videos {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 600px;
    align-items: center;
    gap: 1.5%;
    padding-left: 4%;
    padding-right: 4%;
    overflow: hidden;
}

iframe {
    width: 800px;
    height: 100%;
}

.button-container {
    min-width: 20%;
    height: 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--midnight-color);
    color: var(--white-color);
    cursor: pointer;
    margin-top: 1%;
    gap: 2px;
}

.button-container>button {
    min-width: 50%;
    height: 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--midnight-color);
    color: var(--white-color);
    cursor: pointer;
}

.button-container>button:hover {
    background-color: var(--curry-color);
}

.button-container>button.selectedButton {
    background-color: var(--curry-color);
}

.images-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1800px;
    padding-bottom: 2%;
    gap: 1%;
}

.left-images-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1%;
}

.right-images-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1%;
}

.right-images-container>img {
    width: 100%;
    height: 32.7%;
    object-fit: cover;
}

.left-images-container>img {
    width: 100%;
    object-fit: cover;
}

.left-images-container .image-1 {
    height: 66.6%;
}

.left-images-container .image-7 {
    height: 32.8%;
}

.right-images-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.home-footer {
    background-color: rgba(33, 49, 65, 255);
    width: 100%;
    height: 110px;
}

.home-footer>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5%;
}

.home-footer>div>img {
    padding-left: 2%;
}

.home-footer>p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--nickel-color);
}

.footer-icons {
    display: flex;
    align-items: center;
    padding-right: 8%;
    gap: 30%;
    font-size: 25px;
}

.footer-icons>a {
    padding: 8%;
}

.footer-icons>a:hover {
    background-color: var(--curry-color);
}

.main-home {
    padding-bottom: 3%;
}

button.button-nav-mobile,
.footer-slide,
.icons-mobile,
button.nav-toggle,
.signature-mob-slide {
    display: none;
}

.line {
    display: block;
    width: 50%;
    height: 2px;
    background-color: var(--white-color);
    margin-bottom: 7px;
}

@media only screen and (max-width: 480px) {

    .navigation {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        /* Initially hide the menu off-screen */
        min-width: 80%;
        min-height: 100%;
        background-color: var(--midnight-color);
        transition: right 0.4s ease;
        z-index: 20;
        padding-right: 0;
    }

    .navigation.active {
        display: flex;
        right: 0;
        z-index: 20;
        min-width: 80%;
        min-height: 100%;
        position: fixed;

        .line {
            width: 100%;
        }
    }

    .signature-mob {
        position: absolute;
        top: 30%;
        left: 65%;
        font-size: 25px;
    }

    .signature-mob-footer {
        position: relative;
        left: 30px;
        top: 5px;
        font-family: "Great Vibes", cursive;
        font-size: 23px;
        color: var(--white-color);
    }

    .footer-slide {
        display: block;
        left: -100%;
        transition: left 0.4s ease;
        z-index: 22;
        position: absolute;
        top: 91%;
        font-size: 15px;
    }

    .footer-slide.active {
        left: 43%;
        transition: left 0.4s ease;
        z-index: 22;
        position: fixed;
    }

    .signature-mob-slide {
        display: block;
        position: absolute;
        top: 3%;
        left: -100%;
        transition: left 0.4s ease;
        z-index: 21;
        font-family: "Great Vibes", cursive;
        color: var(--white-color);
        font-size: 25px;
    }

    .signature-mob-slide.active {
        display: block;
        transition: left 0.4s ease;
        left: 28%;
        z-index: 100;
        position: fixed;
    }

    .icons-mobile.active {
        left: 50%;
        transition: left 0.4s ease;
        position: fixed;
    }

    button.nav-toggle {
        display: block;
        min-width: 25px;
        height: 25px;
        background-color: transparent;
        position: absolute;
        top: 3%;
        right: 0;
        left: 90%;
        /* Show the menu toggle button */
    }

    .nav-li {
        padding: 10px;
        margin-bottom: 15%;
    }

    .mobile-li {
        margin-top: 35%;
        padding-right: 50%;
    }

    button.button-nav-mobile {
        display: block;
        min-width: 25px;
        height: 25px;
        background-color: transparent;
        margin-top: 5%;
        margin-left: 85%;
    }

    .icons-mobile {
        display: flex !important;
        align-items: center;
        position: absolute;
        top: 85%;
        padding: 0;
        z-index: 20;
        gap: 30%;
        left: -100%;
        transition: left 0.4s ease;
    }

    .info-wrapper {
        background-color: var(--midnight-color);
        justify-content: center;
        padding: 0;
        margin-top: 0%;
        animation-name: none;
        animation-duration: 3.5s;
        animation-delay: 0.1s;
        animation-fill-mode: forwards;
        transform: translateX(0);
    }

    .info-container {
        width: 100%;
        height: 100%;
        padding-bottom: 12%;
    }

    .info-container>a {
        width: 90%;
        height: 6vh;
    }

    .info-container>a>button {
        left: 0%;
        height: 100%;
        min-width: 100%;
        border-radius: 2%;
    }

    .info-container>h1 {
        color: var(--white-color);
        font-size: 20px;
        text-transform: uppercase;
        padding-top: 2%;
    }

    .info-container>p {
        font-size: 14px;
        color: var(--white-color);
        padding: 0 5.5%;
        animation-name: slideFromLeft;
        animation-duration: 3.5s;
        animation-delay: 0.1s;
        animation-fill-mode: forwards;
        transform: translateX(-100%);
    }

    .icons {
        display: none;
        position: absolute;
    }

    .main-home-header {
        height: 70vh;
        color: var(--white-color);
    }

    .home-header {
        padding: 0;
        height: 0%;
    }

    .home-background-image {
        background-repeat: no-repeat;
        width: 100%;
        min-height: 60%;
        position: relative;
    }

    .upcoming-container>h2 {
        font-size: 20px;
        text-transform: uppercase;
        padding-top: 20%;
        padding-bottom: 10%;
    }

    .main-home {
        margin-top: 10%;
    }

    .concert-image {
        display: none;
    }

    .quote-home>footer {
        margin-right: 10%;
    }

    .quote-home>p>em {
        min-width: 90%;
        font-size: 15px;
    }

    i {
        font-size: 16px;
    }

    div>a>button.agendaButton {
        min-width: 25%;
        height: 10%;
        border: none;
        border-radius: 0;
        background-color: transparent;
        color: var(--tuscan-color);
        cursor: pointer;
        border-bottom: 2px solid var(--tuscan-color);
        padding-bottom: 5%;
        padding-top: 30%;
    }

    .performance-section>h2 {
        padding-top: 8%;
        padding-bottom: 8%;
    }

    .h2-images {
        padding-top: 5%;
    }

    .iframe-videos {
        height: 40vh;
    }

    .mobile-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 50%;
    }

    .mobile-button-arrow {
        min-width: 100px;
        height: 65px;
        border: none;
        border-radius: 0;
        background-color: transparent;
        color: var(--black-color);
        cursor: pointer;
    }

    .mobile-button-arrow>img {
        width: 60%;
        height: 100%;
    }

    .images-container {
        height: 60vh;
    }

    section>a.gallery-button-a {
        min-width: 80%;
        height: 6vh;
    }

    .gallery-button {
        min-width: 100%;
        height: 100%;
    }

    .home-footer>p {
        font-size: 13px;
    }

    .home-footer>div>img {
        padding-left: 0;
    }

    .home-footer>div {
        padding-top: 8%;
        padding-right: 5%;
        padding-bottom: 3%;
    }

    .list-element {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 0;
        text-align: center;
        justify-content: space-between;
        margin-right: 0%;
        gap: 20px;
    }

    .list-element>p,
    span {
        font-size: 16px;
    }

    .date-and-place>p {
        font-size: 20px;
    }

    .date-and-place {
        margin-left: 0%;
    }

    .schedule-button,
    .schedule-button>a {
        font-size: 16px;
        padding: 1%;
    }

    .footer-icons {
        display: flex;
        align-items: center;
        padding-right: 10%;
        gap: 13%;
        font-size: 25px;
    }

    .footer-icons>a {
        padding: 8%;
    }
}

@media only screen and (max-width: 455px) {
    .main-home {
        margin-top: 20%;
    }
}

@media only screen and (max-width: 415px) {
    .main-home {
        margin-top: 30%;
    }

    .signature-mob {
        left: 60%;
    }

    .mobile-button-arrow {
        min-width: 70px;
        height: 45px;
        border: none;
        border-radius: 0;
        background-color: transparent;
        color: var(--black-color);
        cursor: pointer;
    }

    .mobile-button-arrow>img {
        width: 60%;
        height: 100%;
    }
}

@media only screen and (max-width: 340px) {
    .signature-mob {
        left: 55%;
    }

}

@media only screen and (max-width: 325px) {
    .main-home {
        margin-top: 40%;
    }
}

@media only screen and (max-width: 310px) {
    .signature-mob {
        left: 50%;
    }
}